{% extends "base.html" %}
{% block title %}Page not Found | Flask App{% endblock %}
{% block content %}
<div class="container justify-content-center">
    <h1 class="display-1">404 Page not found</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta officia unde, aperiam magnam rerum possimus? Aliquam.</p>
    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    <img src="https://media2.giphy.com/media/14uQ3cOFteDaU/giphy.gif" alt="404-image" class="image-fluid" >
</div>
{% endblock %}