{% extends "base.html" %}
{% block title %}About Page | Flask App{% endblock %}
{% block content %}
<div class="container justify-content-center">
    <h1 class="display-1">About us</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta officia unde, aperiam magnam rerum possimus? Aliquam.</p>
    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    <img src="https://www.samsgroupbd.net/images/about.gif" alt="About Image" class="image-fluid" >
</div>
{% endblock %}