{% extends "base.html" %}
{% block title %}DataBase View | Flask App{% endblock %}
{% block content %}
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="bg-success">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container r">
    <h1 class="display-1">DataBase</h1>
    <table class="table">
        {% if values: %}
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in values: %}
        <tr><td>{{user.name}}</td><td>{{user.email}}</td></tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}